#back{
  background-image:url('../img/cards/back.png');
  
}

#dealer, #player{
  display:block;
}

#score{
  float:right;
}

.blank{
  border:1px dashed #666;
}

.card{
  display:block;
  float:left;
  width:83px;
  height:121px;
  background-size:cover;
  margin:5px;
  border-radius:5px;
}
