#hiddenCard{
  background-image:url('../img/cards/back.png');
}

#dealer, #player{
  display:block;
  margin-bottom:20px;
}

#bet5{
  background-color:red;
  color:white;
}

#bet10{
  background-color:blue;
  color:white;
}

#bet25{
  background-color:green;
  color:white;
}

#bet100{
  background-color:black;
  color:white;
}

.blank{
  border:1px dashed #666;
}

.card{
  display:block;
  float:left;
  width:83px;
  height:121px;
  background-size:cover;
  margin:0 0 0 -50px;
  border-radius:5px;
}

.card:nth-of-type(1){
  margin-left:5px;
}
